:root {
    --primary-color: #416F14;
    --font-color: #171717;
    --background-header: #dcdcdc;
    --font-header: #171717;
}

* {
    font-family: 'Open Sans', serif;
}

.navbar {
    padding-right: 20% !important;
    padding-left: 20% !important;
    position: fixed !important;
    top: 0;
    z-index: 999 !important;
    width: 100%;
}

@media (max-width: 617px) {
    .nav-burger {
        display: block !important;
    }

    .nav-link {
        display: none !important;
    }
}

@media (max-width: 470px) {
    .navbar, #linkList {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }
}

.nav-burger {
    display: none;
    padding-top: 3px;
    height: 30px;
    cursor: pointer;
}

@media (min-width: 617px) {
    #linkList {
        display: none !important;
    }

    #main {
        margin-top: 70px !important;
    }
}

.nav-link-black, .menu-link-black {
    color: var(--font-header);
    font-weight: bold;
}

.nav-link-black:hover, .menu-link-black:hover {
    color: #626262;
    text-decoration: none;
}

.nav-burger {
    float: right !important;
}

.navbar-grey {
    background-color: var(--background-header);
}

#linkList {
    display: none;
    margin-top: 70px;
    background-color: #d5d5d5;
    padding-right: 20% !important;
    padding-left: 20% !important;
    text-align: center;
}

.menu-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    margin: 0 !important;
}

#main {
    margin-top: 70px;
}

.spices-container {
    background-image: url("images/spices-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .spices-container {
        background-color: #416F14;
        background-image: none !important;
    }
}

.spices-container-content {
    height: 450px;
    position: relative;
}

.spices-text-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spices-text {
    color: #FFF;
    font-size: 32px;
}

.order-button {
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 5px 20px;
    background-color: black;
    color: white;
    transition: background-color 1s;
}

.order-button-sm {
    font-size: 11px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 4px 15px;
    background-color: black;
    color: white;
    transition: background-color 1s;
}

.order-button:hover, .order-button-sm:hover {
    background-color: #f2f2f2;
    color: black;
}

.center {
    text-align: center;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.text-center {
    text-align: center;
}

.about-products-container {
    padding: 70px 20%;
    color: var(--font-color);
    background-color: #FAFAFA;
}

.about-products-item {
    padding-top: 60px;
}

.about-products-icon {
    font-size: 50px !important;
    text-align: center;
    margin-bottom: 20px;
}

.calender-container {
    padding: 70px 20%;
    color: var(--font-color);
    background-color: white;
}

.products-container {
    padding: 70px 20%;
    color: var(--font-color);
}

.product {
    background-color: white;
    transition: transform .6s;
    padding: 5px !important;
}

.product:hover {
    transform: scale(1.3);
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    z-index: 100 !important;
    width: 250px;
}

.product-short-description {
    display: none;
    margin-bottom: 5px;
    font-size: 11px;
}

.product:hover .product-short-description {
    display: block;
}

.link {
    text-decoration: none;
    color: var(--font-color);
}

.link:hover {
    text-decoration: none;
    color: var(--font-color);
}

.about-us-container {
    padding: 70px 20%;
    color: var(--font-color);
    background-color: #FAFAFA;
}

.footer {
    padding: 70px 20% 60px;
    color: #d5d5d5;
    background-color: var(--primary-color);
}

.footer-link {
    color: #FFF !important;
}

.copyright-footer {
    padding-top: 1rem;
    color: #c2c2c2;
    background-color: #FFF;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}