
.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.col-w3 {
    flex: 3;
}

.col-w55 {
    flex: 5.5;
}

.col-w45 {
    flex: 4.5;
}

@media (max-width: 930px) {
    .flex-grid {
        display: block;
    }
}